In [3]:
import pandas as pd

In [4]:
cell_viability_task = "845173"

In [9]:
df = pd.read_csv('CP_count_Ha.csv')
df = df[["InChIKey", cell_viability_task]]
df = df[df["845173"]==1]
df

                         InChIKey  845173
20    AKJHMTWEGVYYSE-FXILSDISSA-N       1
37    ZEWQUBUPAILYHI-UHFFFAOYSA-N       1
65    PHVGLTMQBUFIQQ-UHFFFAOYSA-N       1
99    KKZJGLLVHKMTCM-UHFFFAOYSA-N       1
134   GZUITABIAKMVPG-UHFFFAOYSA-N       1
...                           ...     ...
9772  YXMZKKBYJQSMSA-STXHMFSFSA-N       1
9777  AXBJPSYRCLUHNL-GTEDWBNGSA-N       1
9782  YAZCQYURBLEIHO-IWHLBADBSA-N       1
9785  AXBJPSYRCLUHNL-HSFWNXDSSA-N       1
9817  OOYLJRYZMKTJGR-MRJKTFCFSA-N       1

[151 rows x 2 columns]