In [62]:
import pandas as pd

In [63]:
df =pd.read_csv("logistic_regression_results.csv")
df = df.groupby("assay").mean().reset_index()
df

     assay       best_C   val_auc  test_auc
0        1  3336.666667  0.643791  0.611836
1        2     0.366667  0.911111  0.513933
2        4   333.333334  0.499074  0.337617
3        5   370.000000  0.841270  0.480207
4        6  5000.000001  0.400000  0.620179
..     ...          ...       ...       ...
200    205   333.666667  0.570800  0.613390
201    206     0.000001  0.875000  0.599359
202    207     0.000001  1.000000  0.333333
203    208     0.000001  0.450794  0.491841
204    209     0.000334  0.548097  0.512244

[205 rows x 4 columns]

In [64]:
df.test_auc.mean()

0.5341381782313491

In [65]:
df.test_auc.std()

0.14606889526760103

In [66]:
len(df[df["test_auc"]>=0.9])

0

In [67]:
len(df[df["test_auc"]>=0.8])

5

In [68]:
len(df[df["test_auc"]>=0.7])

20

In [69]:
cloome =pd.read_csv("cloome_results.csv")
cloome

,Type,Method,AUC (mean),AUC(stdev),F1(mean),F1(stdev),AUC > 0.9,AUC > 0.8,AUC > 0.7
0,Linear probing,CLOOME,0.714,0.20,0.395,0.32,57,84,109
1,Linear probing,CellProfiler,0.655,0.20,0.273,0.32,35,63,84
2,Supervised,ResNet,0.731,0.19,0.508,0.30,68,94,119
3,Supervised,DenseNet,0.730,0.19,0.530,0.30,61,98,121
4,Supervised,GapNet,0.725,0.19,0.510,0.29,63,94,117
5,Supervised,MIL-Net,0.711,0.18,0.445,0.32,61,81,105
6,Supervised,M-CNN,0.705,0.19,0.482,0.31,57,78,105
7,Supervised,SC-CNN,0.705,0.20,0.362,0.29,61,83,109
8,Supervised,FNN,0.675,0.20,0.361,0.31,55,71,90