In [1]:
import pandas as pd
from sklearn.metrics import roc_auc_score

import numpy as np

In [3]:
import pandas as pd
from sklearn.metrics import roc_auc_score
import numpy as np

# Initialize a list to store AUC scores for all folds
all_auc_scores = []

for fold in range(0,5):
    predictions = pd.read_csv(f"predictions_fold_{fold}.csv")
    y_test = pd.read_csv(f"y_test_fold_{fold}.csv")
    
    # Compute AUC for each task
    for column in y_test.columns:
        # Get the predictions and true values for the current task
        y_true = y_test[column].values
        y_pred = predictions[column].values

        # Filter out -1 values
        valid_indices = y_true != -1
        y_true_valid = y_true[valid_indices]
        y_pred_valid = y_pred[valid_indices]

        # Compute AUC if there are valid data points
        if len(y_true_valid) > 0 and len(np.unique(y_true_valid)) > 1:
            auc = roc_auc_score(y_true_valid, y_pred_valid)
        else:
            auc = np.nan  # Not enough data to compute AUC

        all_auc_scores.append({"Fold": fold, "Task": column, "AUC": auc})

# Convert to DataFrame for convenience
auc_df = pd.DataFrame(all_auc_scores)

# Save the DataFrame to a CSV file if needed
auc_df.to_csv("auc_scores_across_folds_multitasknn.csv", index=False)
auc_df

     Fold     Task       AUC
0       0      1_1  0.619048
1       0    10_19       NaN
2       0    10_20       NaN
3       0  100_277  0.625000
4       0  100_278  0.571429
..    ...      ...       ...
535     1     9_18       NaN
536     1   90_256  0.980000
537     1   91_257  1.000000
538     1   92_258  1.000000
539     1   93_259  0.717647

[540 rows x 3 columns]

In [4]:
mean_auc = auc_df.groupby("Task").mean().reset_index(drop=False)
mean_auc

        Task  Fold       AUC
0    100_277   0.5  0.712500
1    100_278   0.5  0.452381
2    104_289   0.5  0.634615
3    104_291   0.5  0.784615
4    104_295   0.5       NaN
..       ...   ...       ...
265   92_258   0.5  0.857143
266   93_259   0.5  0.485635
267     9_14   0.5       NaN
268     9_17   0.5  0.714286
269     9_18   0.5       NaN

[270 rows x 3 columns]

In [5]:
mean_auc[mean_auc["AUC"]==1]

        Task  Fold  AUC
6    104_299   0.5  1.0
9    104_323   0.5  1.0
50   116_420   0.5  1.0
70     14_25   0.5  1.0
72   154_511   0.5  1.0
96   181_599   0.5  1.0
221    29_43   0.5  1.0

In [6]:
len(mean_auc[mean_auc["AUC"]==1])

7

In [7]:
len(mean_auc[mean_auc["AUC"]>0.90])

16

In [8]:
mean_auc.to_csv("scaffold_mean_AUCSeal_multitasknn.csv")

In [9]:
median_auc = auc_df.groupby("Task").median().reset_index(drop=False)
median_auc.to_csv("scaffold_median_AUCSeal_multitasknn.csv")

In [10]:
len(median_auc[median_auc["AUC"]==1])

7

In [11]:
len(median_auc[median_auc["AUC"]>0.90])

16