In [1]:
import pandas as pd

In [2]:
df =pd.read_csv("logistic_regression_results_CellCount.csv")
df = df.groupby("assay").mean().reset_index()
df

     assay    best_C   val_auc  test_auc
0        1  0.000001  0.448052  0.687500
1        2  0.000001  0.608995  0.701055
2        3  0.000001  0.437500  0.483279
3        4  0.000001  0.538095  0.647436
4        5  0.000001  0.407407  0.688889
..     ...       ...       ...       ...
200    205  0.000001  0.595678  0.652563
201    206  0.000001  0.928571  0.767677
202    207  0.000001  1.000000  0.333333
203    208  0.000001  0.666667  0.687286
204    209  0.000001  0.783899  0.760544

[205 rows x 4 columns]

In [3]:
df.test_auc.mean()

0.7010185917785886

In [4]:
df.test_auc.std()

0.22132547970283226

In [5]:
len(df[df["test_auc"]>=0.9])

64

In [6]:
len(df[df["test_auc"]>=0.8])

74

In [7]:
len(df[df["test_auc"]>=0.7])

103

In [8]:
len(df[df["test_auc"]>=0.5])

169

In [31]:
cloome =pd.read_csv("cloome_results.csv")
cloome

,Type,Method,AUC (mean),AUC(stdev),F1(mean),F1(stdev),AUC > 0.9,AUC > 0.8,AUC > 0.7
0,Linear probing,CLOOME,0.714,0.20,0.395,0.32,57,84,109
1,Linear probing,CellProfiler,0.655,0.20,0.273,0.32,35,63,84
2,Supervised,ResNet,0.731,0.19,0.508,0.30,68,94,119
3,Supervised,DenseNet,0.730,0.19,0.530,0.30,61,98,121
4,Supervised,GapNet,0.725,0.19,0.510,0.29,63,94,117
5,Supervised,MIL-Net,0.711,0.18,0.445,0.32,61,81,105
6,Supervised,M-CNN,0.705,0.19,0.482,0.31,57,78,105
7,Supervised,SC-CNN,0.705,0.20,0.362,0.29,61,83,109
8,Supervised,FNN,0.675,0.20,0.361,0.31,55,71,90

In [32]:
df =pd.read_csv("logistic_regression_results_CellCount_MW_logP.csv")
df = df.groupby("assay").mean().reset_index()
df

     assay      best_C   val_auc  test_auc
0        1    5.000000  0.306277  0.512755
1        2    0.066667  0.632804  0.648742
2        3    5.000000  0.671875  0.614035
3        4    3.666667  0.507302  0.487821
4        5    0.336667  0.796296  0.566667
..     ...         ...       ...       ...
203    205    7.000000  0.763930  0.831760
204    206    0.000001  1.000000  0.838384
205    207    0.000001  1.000000  0.416667
206    208    0.003334  0.761905  0.574230
207    209  366.670000  0.849202  0.853949

[208 rows x 4 columns]

In [33]:
df.test_auc.mean()

0.7435650352296341

In [34]:
df.test_auc.std()

0.20512235935716278

In [35]:
len(df[df["test_auc"]>=0.9])

64

In [36]:
len(df[df["test_auc"]>=0.8])

103

In [37]:
len(df[df["test_auc"]>=0.7])

128

In [38]:
len(df[df["test_auc"]>=0.5])

186