In [1]:
import pandas as pd

In [8]:
df =pd.read_csv("logistic_regression_results.csv")
df = df.groupby("assay").mean().reset_index()
df

     assay         best_C   val_auc  test_auc
0        1       3.666667  0.694911  0.605753
1        2       0.000001  0.844444  0.507357
2        3       0.100000  0.142857  0.416667
3        4     336.666667  0.401852  0.309343
4        5       0.000001  0.261905  0.182540
..     ...            ...       ...       ...
201    205  333333.333667  0.526221  0.632947
202    206       0.000001  0.875000  0.612179
203    207       0.000001  0.000000  0.487500
204    208    6667.000000  0.714815  0.537624
205    209       0.003334  0.520766  0.511872

[206 rows x 4 columns]

In [19]:
df.test_auc.mean()

0.5413092751250448

In [20]:
df.test_auc.std()

0.14609680170630934

In [15]:
len(df[df["test_auc"]>=0.9])

0

In [16]:
len(df[df["test_auc"]>=0.8])

6

In [17]:
len(df[df["test_auc"]>=0.7])

25

In [18]:
cloome =pd.read_csv("cloome_results.csv")
cloome

,Type,Method,AUC (mean),AUC(stdev),F1(mean),F1(stdev),AUC > 0.9,AUC > 0.8,AUC > 0.7
0,Linear probing,CLOOME,0.714,0.20,0.395,0.32,57,84,109
1,Linear probing,CellProfiler,0.655,0.20,0.273,0.32,35,63,84
2,Supervised,ResNet,0.731,0.19,0.508,0.30,68,94,119
3,Supervised,DenseNet,0.730,0.19,0.530,0.30,61,98,121
4,Supervised,GapNet,0.725,0.19,0.510,0.29,63,94,117
5,Supervised,MIL-Net,0.711,0.18,0.445,0.32,61,81,105
6,Supervised,M-CNN,0.705,0.19,0.482,0.31,57,78,105
7,Supervised,SC-CNN,0.705,0.20,0.362,0.29,61,83,109
8,Supervised,FNN,0.675,0.20,0.361,0.31,55,71,90