In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("label-matrix.mtx", sep = " ")
df

       compoundid  task  activity
0            6538     1         1
1            6543     1         1
2            6544     1         1
3            6553     1        -1
4            6690     1        -1
...           ...   ...       ...
55537       10071   209        -1
55538       10080   209        -1
55539       10163   209        -1
55540       10197   209        -1
55541       10490   209        -1

[55542 rows x 3 columns]

In [9]:
compounds = pd.read_csv("row-compound-index.csv", sep = ",")
compounds

       INDEX                     INCHIKEY
0          0  IENZQIKPVFGBNW-UHFFFAOYSA-N
1          1  GSDSWSVVBLHKDQ-UHFFFAOYSA-N
2          2  CGIGDMFJXJATDK-UHFFFAOYSA-N
3          3  DSXXEELGXBCYNQ-UHFFFAOYSA-N
4          4  MYSWGUAQZAJSOK-UHFFFAOYSA-N
...      ...                          ...
10569  10569  YAJYINBQFXCAPI-WENCSYSZSA-N
10570  10570  DIBJIDYNEHVBAV-KFRKLSNLSA-N
10571  10571  YAJYINBQFXCAPI-PFPZSTESSA-N
10572  10572  YAJYINBQFXCAPI-RZIGYZOXSA-N
10573  10573  YAJYINBQFXCAPI-XJGOYTCSSA-N

[10574 rows x 2 columns]

In [10]:
df = pd.merge(df, compounds, left_on="compoundid", right_on="INDEX")
df

       compoundid  task  activity  INDEX                     INCHIKEY
0            6538     1         1   6538  SWIUQBFXLZSMJW-UHFFFAOYSA-N
1            6538     2        -1   6538  SWIUQBFXLZSMJW-UHFFFAOYSA-N
2            6538     3        -1   6538  SWIUQBFXLZSMJW-UHFFFAOYSA-N
3            6538     4        -1   6538  SWIUQBFXLZSMJW-UHFFFAOYSA-N
4            6538     5        -1   6538  SWIUQBFXLZSMJW-UHFFFAOYSA-N
...           ...   ...       ...    ...                          ...
55527        9781   209        -1   9781  YNOIPTRKOYGMCT-UHFFFAOYSA-N
55528        9855   209        -1   9855  QHTRHHVBBSPOHC-PWHSHALESA-N
55529       10014   209        -1  10014  HITOKJYCRKZWGL-DWIXIZSHSA-N
55530       10197   209        -1  10197  CRECGCTYSBAAAJ-GVJSHHSGSA-N
55531       10490   209        -1  10490  QQFBCVYCCQBHCE-IQKBUIRBSA-N

[55532 rows x 5 columns]

In [11]:
assays = pd.read_csv("column-assay-index.csv", sep = ",").reset_index()
assays["index"] = assays["index"]+1
assays

     index  ASSAY_ID
0        1    600885
1        2    688422
2        3    688493
3        4    688810
4        5    688812
..     ...       ...
204    205   1301866
205    206   1301890
206    207   1301859
207    208   1301893
208    209   1495346

[209 rows x 2 columns]

In [12]:
assays.index.nunique()

209

In [14]:
df = pd.merge(df, assays, left_on="task", right_on="index")
df

,compoundid,task,activity,INDEX,INCHIKEY,index,ASSAY_ID
0,6538,1,1,6538,SWIUQBFXLZSMJW-UHFFFAOYSA-N,1,600885
1,6543,1,1,6543,QOMJXOZGZZSHKH-UHFFFAOYSA-N,1,600885
2,6544,1,1,6544,OROHWSNJKUHQRF-UHFFFAOYSA-N,1,600885
3,6553,1,-1,6553,LLZGEIHNFCBNLX-UHFFFAOYSA-N,1,600885
4,6690,1,-1,6690,JXYHCJMZBZTZGS-UHFFFAOYSA-N,1,600885
...,...,...,...,...,...,...,...
55527,9106,47,-1,9106,GJNVYCCWYGSTRP-UHFFFAOYSA-N,47,737357
55528,9120,47,1,9120,UMRGNIRTRURPLM-UHFFFAOYSA-N,47,737357
55529,9232,47,-1,9232,FAWHFVHQHDNGSK-UHFFFAOYSA-N,47,737357
55530,9297,47,1,9297,PNVJTZOFSHSLTO-UHFFFAOYSA-N,47,737357
55531,9309,47,-1,9309,DLICXRANLDJSBY-UHFFFAOYSA-N,47,737357

In [16]:
# Set the index to 'assay'
df.set_index('ASSAY_ID', inplace=True)

# Create a new DataFrame to ensure 'assay' becomes columns with 'activity' values
df_pivot = df.pivot_table(index='INCHIKEY', columns='ASSAY_ID', values='activity')
df_pivot.reset_index(drop=True)

df_pivot

ASSAY_ID,600885,600886,688141,688155,688157,688171,688238,688239,688267,688279,...,1495338,1495346,1495389,1495390,1495392,1495393,1495404,1495405,1495408,1495415
INCHIKEY,,,,,,,,,,,,,,,,,,,,,
AACRWZVDRSTLKY-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AACUKVXTFOXDGE-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AADCDMQTJNYOSS-LBPRGKRZSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN
AADORYZVGJDNSZ-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AAEVYOVXGOFMJO-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZZUCJGSOKDNIEZ-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZZUFCTLCJUWOSV-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,-1.0
ZZUZYEMRHCMVTB-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZZVUWRFHKOJYTH-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZZZPZDFBUDZIOU-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Resetting the index to make the 'INCHIKEY' a new column
df_pivot.reset_index(inplace=True)
df_pivot.rename(columns={'index': 'INCHIKEY'}, inplace=True)
df_pivot

ASSAY_ID,INCHIKEY,600885,600886,688141,688155,688157,688171,688238,688239,688267,...,1495338,1495346,1495389,1495390,1495392,1495393,1495404,1495405,1495408,1495415
0,AACRWZVDRSTLKY-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AACUKVXTFOXDGE-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AADCDMQTJNYOSS-LBPRGKRZSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN
3,AADORYZVGJDNSZ-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AAEVYOVXGOFMJO-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10568,ZZUCJGSOKDNIEZ-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10569,ZZUFCTLCJUWOSV-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,-1.0
10570,ZZUZYEMRHCMVTB-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10571,ZZVUWRFHKOJYTH-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10572,ZZZPZDFBUDZIOU-UHFFFAOYSA-N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
import numpy as np
# Setting inactives to 0, actives to 1, and no data to -1
df_pivot = df_pivot.replace(-1, 0)
df_pivot = df_pivot.replace(np.nan, -1)
df_pivot

ASSAY_ID,INCHIKEY,600885,600886,688141,688155,688157,688171,688238,688239,688267,...,1495338,1495346,1495389,1495390,1495392,1495393,1495404,1495405,1495408,1495415
0,AACRWZVDRSTLKY-UHFFFAOYSA-N,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AACUKVXTFOXDGE-UHFFFAOYSA-N,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AADCDMQTJNYOSS-LBPRGKRZSA-N,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AADORYZVGJDNSZ-UHFFFAOYSA-N,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AAEVYOVXGOFMJO-UHFFFAOYSA-N,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10568,ZZUCJGSOKDNIEZ-UHFFFAOYSA-N,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10569,ZZUFCTLCJUWOSV-UHFFFAOYSA-N,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10570,ZZUZYEMRHCMVTB-UHFFFAOYSA-N,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10571,ZZVUWRFHKOJYTH-UHFFFAOYSA-N,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10572,ZZZPZDFBUDZIOU-UHFFFAOYSA-N,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
df_pivot[df_pivot["INCHIKEY"]=="PNVJTZOFSHSLTO-UHFFFAOYSA-N"][737357]

6304    1.0
Name: 737357, dtype: float64