In [75]:
import pandas as pd

In [76]:
M = pd.read_csv("scaffold_median_AUCMoskov.csv")
M = M[M["descriptor"]=="mobc_es_op"]
M = M[M["auc"]>0.9]
M

     assay_id  auc  descriptor  auc_50  auc_70  auc_90
3801  104_323  1.0  mobc_es_op    True    True    True
3815    11_22  1.0  mobc_es_op    True    True    True
3866    17_28  1.0  mobc_es_op    True    True    True
3870  175_559  1.0  mobc_es_op    True    True    True
3871  175_561  1.0  mobc_es_op    True    True    True
4006    37_77  1.0  mobc_es_op    True    True    True
4010   42_104  1.0  mobc_es_op    True    True    True
4011   44_106  1.0  mobc_es_op    True    True    True
4013   49_149  1.0  mobc_es_op    True    True    True
4023   71_212  1.0  mobc_es_op    True    True    True
4026   78_237  1.0  mobc_es_op    True    True    True
4028     8_13  1.0  mobc_es_op    True    True    True
4043     9_14  1.0  mobc_es_op    True    True    True

In [83]:
len(M)

13

In [114]:
import pandas as pd

# Assuming M and test are defined DataFrames

# Store the columns that have exactly one 1 across all folds
valid_columns = []

for fold in range(5):
    test_path = f"PUMA/predictions/chemical_cv{fold}/assay_matrix_discrete_test_old_scaff.csv"
    test = pd.read_csv(test_path)
    
    # Iterate over each unique assay_id in the M DataFrame
    for col in M['assay_id'].unique():
        # Check if the column exists in the test DataFrame
        if col in test.columns:
            # Count the number of 1s in the column
            count_ones = test[col].sum()
            
            # Check if there is exactly one 1 in the column
            if count_ones == 1:
                valid_columns.append(col)
            else:
                continue
        else:
            print(f"Column '{col}' does not exist in the test DataFrame.")

valid_columns

['104_323',
 '175_559',
 '175_561',
 '37_77',
 '17_28',
 '71_212',
 '8_13',
 '44_106',
 '71_212',
 '11_22',
 '49_149',
 '71_212',
 '78_237',
 '9_14',
 '11_22',
 '8_13']

In [115]:
# Remove duplicates from valid_columns
valid_columns = list(set(valid_columns))
valid_columns

['11_22',
 '175_559',
 '71_212',
 '37_77',
 '9_14',
 '49_149',
 '17_28',
 '44_106',
 '104_323',
 '8_13',
 '175_561',
 '78_237']

In [117]:
len(valid_columns)

12

In [118]:
smiles_value_list = []

for fold in range(5):
    # Print the smiles column for valid columns in the last fold
    test_path = f"PUMA/predictions/chemical_cv{fold}/assay_matrix_discrete_test_old_scaff.csv"
    test = pd.read_csv(test_path)

    for col in valid_columns:
        if col in test.columns:
            if test[col].sum() == 1:
                smiles_value = test.loc[test[col] == 1, 'Metadata_broad_sample_simple'].values[0]
                print(f"Column '{col}': Metadata_broad_sample_simple value for the only 1 is '{smiles_value}'.")
                
                smiles_value_list.append(smiles_value)

Column '175_559': Metadata_broad_sample_simple value for the only 1 is 'BRD-K09255212'.
Column '37_77': Metadata_broad_sample_simple value for the only 1 is 'BRD-K21853356'.
Column '104_323': Metadata_broad_sample_simple value for the only 1 is 'BRD-K37691127'.
Column '175_561': Metadata_broad_sample_simple value for the only 1 is 'BRD-K09255212'.
Column '71_212': Metadata_broad_sample_simple value for the only 1 is 'BRD-K77947974'.
Column '17_28': Metadata_broad_sample_simple value for the only 1 is 'BRD-K77947974'.
Column '8_13': Metadata_broad_sample_simple value for the only 1 is 'BRD-A64553394'.
Column '71_212': Metadata_broad_sample_simple value for the only 1 is 'BRD-A61221616'.
Column '44_106': Metadata_broad_sample_simple value for the only 1 is 'BRD-K47635719'.
Column '11_22': Metadata_broad_sample_simple value for the only 1 is 'BRD-A72711497'.
Column '71_212': Metadata_broad_sample_simple value for the only 1 is 'BRD-A72711497'.
Column '9_14': Metadata_broad_sample_simple value for the only 1 is 'BRD-A72711497'.
Column '49_149': Metadata_broad_sample_simple value for the only 1 is 'BRD-A72711497'.
Column '78_237': Metadata_broad_sample_simple value for the only 1 is 'BRD-A72711497'.
Column '11_22': Metadata_broad_sample_simple value for the only 1 is 'BRD-K39746403'.
Column '8_13': Metadata_broad_sample_simple value for the only 1 is 'BRD-K01567962'.

In [119]:
print(len(smiles_value_list))

16

In [120]:
# Remove duplicates from valid_columns
smiles_value_list = list(set(smiles_value_list))
smiles_value_list

['BRD-K37691127',
 'BRD-A61221616',
 'BRD-K21853356',
 'BRD-K77947974',
 'BRD-K47635719',
 'BRD-K01567962',
 'BRD-A64553394',
 'BRD-A72711497',
 'BRD-K39746403',
 'BRD-K09255212']

In [121]:
print(len(smiles_value_list))

10